@tailwind base;
@tailwind components;
@tailwind utilities;

/*Fumada maxima que me acabo de pegar, sombras azules si*/
.blue-shadow {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.blue-shadow:hover {
  box-shadow: 0 0 16px rgba(59, 130, 246, 0.6);
}
